@font-face {
    font-family: 'Young Serif' ;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family:'Outfit' ;
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

:root{
    --nutmeg:        hsl(14, 45%, 36%);
    --darkRaspberry: hsl(332, 51%, 32%);
    --white:         hsl(0, 0%, 100%);
    --roseWhite:     hsl(330, 100%, 98%);
    --eggshell:      hsl(30, 54%, 90%);
    --lightgrey:     hsl(30, 18%, 87%);
    --wengeBrown:    hsl(30, 10%, 34%);
    --darkCharcoal:  hsl(24, 5%, 18%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--eggshell);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
   font-size: 16px;
}
.container{
    background-color: var(--white);
    width: 42rem;
    height: 92rem;
    border-radius: 15px;
    padding: 1.7rem;
    margin: 3rem;
   
}
.container > .image{
    margin: 0 0 1rem auto;
    border-radius: 0.5rem;
    overflow: hidden;
}
.image img {
    width: 100%;
}
.container hr {
    margin: 1.5rem 0;
}
.container h1{
    font-family:'Young Serif';
    font-weight: 400;
}
.container > #description{
    margin-top: 1rem;
    font-size: 0.9rem;
    font-family: 'Outfit';
}
.preparation {
    background-color: var(--roseWhite);
    margin: 1rem;
    padding: 1.6rem;
    border-radius: 0.6rem;
}

.preparation h3 {
    color: var(--darkRaspberry);
}
.preparation ul {
    margin-left: 1rem;
}
.preparation ul li {
    margin-top: 0.5rem;
    color: var(--darkCharcoal);
    font-family: 'Outfit';
    font-size: 1rem;
}
.ingredients, .instructions, .nutrition {
    margin-left: 1rem;
}
.ingredients {
    margin: 1rem;
}
.ingredients h2 {
    color: var(--nutmeg);
    font-size: 1.5rem;
    font-family: 'Young Serif';
    font-weight: 400;
    margin-bottom:0.6rem;
}
.ingredients ul {
    margin-left: 1rem;
}
.ingredients ul li {
    margin-top: 0.6rem;
}
.ingredients ul li p {
    margin-left: 1rem;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--darkCharcoal);
}

.instructions h2 {
    color: var(--nutmeg);
    font-size: 1.5rem;
    font-family: 'Young Serif';
    font-weight: 400;
    margin-bottom:0.6rem;
}
.instructions ol {
    margin-left: 1.4rem;
    font-family: 'Outfit';
}
.instructions ol li {
    color: var(--nutmeg);
    font-family: 'Outfit';
    font-weight: 700;
    margin-top: 0.8rem;
}
.instructions ol li strong {
    color: var(--darkCharcoal);
}
.instructions ol li p {
    margin-left: 1rem;
    color: var(--darkCharcoal);
    font-weight: 400;
    font-size: 0.9rem;
}
.nutrition h2 {
    font-family: 'Young Serif';
    color: var(--nutmeg);
    margin-bottom: 1rem;
}
.nutrition table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: left;
}
th, td {
    font-family: 'Outfit';
    font-size: 0.8rem;
    font-style: normal;
    line-height: 150%;
    border-bottom: 1px solid #E3DDD7;
    padding: 10px;
}
th {
    font-family: 'Outfit';
    font-weight: 400;
    color: var(--darkCharcoal);
}
td {
    font-family: 'Outfit';
    font-weight: 700;
    color: var(--nutmeg);
}

.attribution { font-size: 11px; text-align: center; margin-bottom: 1rem; }
.attribution a { color: hsl(228, 45%, 44%); }
@media only screen and (width<=600px) {
    .container {
        width: 25rem;
        height: 102rem;
    }
}